*.\~???
*FastMM*
*.pdf
Installer*
*.sso
*.bak
*.zip
*\~\$*
*.tmp
dcu/*
goederentreinen.ods
zbdienst.ods
zbopv.ods
test/*
stwsim_beta*
*.exe
src/WSockBuf.pas
src/WSocket.pas
src/Thumbs.db
src/*_?_?.odt
naam.odt
log.txt
Zuidbroek/*test*
Zuidbroek/*quickwin*
Zuidbroek/Zuidbroek_7.sts
Zuidbroek/Zuidbroek2_7.sts
Schiphollijn/Schiphollijn?*.sts
Schiphollijn/2012_0.1.ssd
Schiphollijn/Sporenschema.psp
Iyu/Iyenvar_7.sts
